<% provide(:title, "关于这个项目") %>
<h1>关于这个项目</h1>
<p>
  这个项目是基于<a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> 完成的，开发平台为cloud9，作为一个跨专业选修高级软件工程的
  学生，这是我的第一个web开发项目，这个项目很粗糙，但是代表了我一个多月的努力，
  你们可以在<a href="http://www.railstutorial.org/"><em>我的Github上</em></a>找到
  他的源码。
</p>