<% provide(:title, "帮助") %>
<h1>关于这个项目</h1>
<p>
  这是一个由中国科学院的杨腾智，王明阳，荐思婧共同开发的项目
  该项目旨在通过大家的推荐发现现在最火的APP并推荐给大家
  目前时间很仓促，项目还只是个雏形，欢迎大家为这个项目做贡献
  github地址:<a href="https://github.com/wisnju/umarket.git"><em>https://github.com/wisnju/umarket.git</em></a>
  
</p>