<footer class="footer">
  <small>
    The project 
    by <a href="http://blog.csdn.net/ytzlln">IMEPB.KBZ in IMECAS</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><a www.ucas.ac.cn/">News</a></li>
    </ul>
  </nav>
</footer>